body{
	background-image:url('../media/IMG_1984.jpg');
	background-size: cover;
	background-position: top left;
	background-repeat: no-repeat;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
h1, h2{
	color:BLACK;
}
nav{
	display:flex;
	width:450px;
	background-color:rgb(231, 235, 32);
	opacity:.8;	
	border-radius:25px;	
	box-shadow:2px 2px gray;
	padding:2%;
	margin-left:auto;
	margin-right:auto;
}
a:link, a:visited{
	width:200px;
	border:1px solid white;
	border-radius:25px;
	box-shadow:2px 2px white;
	padding:2%;
	color:rgb(12, 8, 8);
	text-decoration:none;
	margin:10px;
}	
a:hover{
	background-color:white;
	color:green;
}